/* Custom CSS for full-width form elements */
.full-width {
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  width: 100%;
}

.form-group .form-control,
.form-group .form-select {
  width: 100%;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}
/* SurveyForm.css */

/* Increase font size for all Form.Label and Form.Control elements */
.survey-form-label,
.survey-form-control {
  font-size: 16px; /* Adjust the font size as per your preference */
}

/* Increase font size specifically for Form.Label elements */
.survey-form-label {
  font-size: 18px; /* Override font size for labels */
}
